<%include header%>
  <main>

    <!-- **************************************************************L'équipe -->

    <div class="zone">

      <div class="equipe_haut">
        <div class="logo">

        </div>
        <div class="description">

        </div>
      </div>



      <div class="equipe_bas">

        <div class="p1">

        </div>
        <div class="p2">

        </div>
        <div class="p3">

        </div>

      </div>



    </div>
    <!-- **************************************************************Les jeux -->
    <div class="zone">

    </div>
  </main>
  <%include footer%>
