<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
<link rel="stylesheet" href=<%= css %>>
  <title>1D GAMES</title>
</head>

<body>
  <div class="contain">
    <header>

      <!-- parti haut de l'header************************************************ -->

      <div class="haut_h">
        <div class="h_partie_gauche">
          <img src="/images/logo.png" alt="Logo de 1D games">
        </div>
        <div class="h_partie_droite">
          <a href="#" class="bouton_header Panier"></a>
          <a href="#" class="bouton_header Liste_de_souhait"></a>
        </div>
      </div>

      <!-- ********************************************************************** -->

      <!-- Parti bas de l'header ************************************************ -->
      <div class="bas_h">

        <nav class="b_partie_gauche">
          <ul>
            <li class= <%= p1 %>><a href="/"> ACCUEIL </a></li>
            <li class= <%= p2 %>><a href="/event"> EVENEMENTS </a></li>
            <li class= <%= p3 %>><a href="/forum"> FORUM </a></li>
          </ul>
        </nav>



        <div class="b_partie_droite">
          <a href="#" class="bouton_header Compte"></a>
        </div>
      </div>
      <!-- ********************************************************************** -->
    </header>
